.center {
    text-align: center;
}

.done {
    color : grey;
    font-style : oblique;
    text-decoration: line-through;
}

.hovered {
    box-shadow: 0 0 5px #888;
    color: pink;
    background-color: rgb(48, 160, 136);
}

#lists {
    text-align: left;

    width: 100%;
    padding-top:20px;
}

.input {
    font-size: 2em;
}

.submit {
    font-size: 2em;
}

.todo {
    margin-left: 0%;
    display: inline-block;
    width: 93%;
}

.delete {
    display: inline-block;
    margin-right: 0%;
    position: relative;
}


.header {
    font-size: 1em;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
}

.changeHeader {
    margin-top: 2%;
}

.list {
    margin: 1.5%;
    padding-left:2%;
    display: inline-block;
    width:250px;
    height: 500px;
    border-style: solid;
    border-radius: 20px;
    border-width: 0.5px;
    position: relative;
}

.content {
    height: 80%;
}

